[class^='number-slide'],
[class*=' number-slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 60vh;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  width: 240px;
  height: 240px;
  border-radius: 5%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  opacity: calc(1 / 7);
}

.dot.active {
  opacity: 1;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.MuiPaper-root button:nth-child(1) div:nth-child(1) {
  width: fit-content;
  margin: auto;
}
